<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
    <header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="../../assets/images/homepage.mp4" autoplay="" loop="">
    </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Hi Homo Sapien!</h1>
      <br>
      <p>I'm Alive. I just wanted to know how are you feeling buddy? Alive? Tired? Or just in a mess?!.. Do you want to spend sometime with me buddy!</p>
      <a class="btn">Take me away!</a>
    </div>
  </header>
</body>
    </html>